.main-link {
  font-size: 32px;
  font-weight: bold;
  color: grey;
  text-decoration: none;
}

.pic-notfound {
  width: 800px;
  height: 800px;
}

.pic-preview {
  width: 120px;
  height: 120px;
}

.ic-phone {
  padding-left: 35px;
  background-size: 8%;
  background-image: url("../src/images/ic-phone.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.ic-message {
  padding-left: 35px;
  background-size: 8%;
  background-image: url("../src/images/ic-message.png");
  background-repeat: no-repeat;
  background-position: left center;
}